body {
  padding-top: 20px;
  padding-bottom: 20px;
}

body, .jumbotron {
    background-color: #f7f7f7;
}

.breadcrumb {
  background-color: #e7e7e7;
}

.row {
  margin-bottom: 20px;
}

table {
  width: 100%;
}
.navbar {
  margin-bottom: 20px;
}

.seeders {
  color: green;
}

.leechers {
  color: red;
}

.textcentered {
  text-align: center;
}

.servers select {
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .po {
    margin-top: 20px;
  }

  .navbar-form input {
    margin-left: 5%;
  }

  form {
    max-width: 100%;
  }
}

.pa {
  margin-bottom: 20px;
}

.servers input {
  margin-bottom: 20px;
}

.servers {
  margin-bottom: 200px;
}

.breadcrumb li {
  max-width: 100%;
  display: inline;
  word-wrap: break-word;
}

.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0%;
  width: 100%;
}

.invalid input:required:invalid {
  background: #BE4C54;
}

.invalid input:required:valid {
  background: #17D654 ;
}

input {
  display: block;
  margin-bottom: 10px;
}